{% extends "bootstrap/base.html"%}

{% block title%}
{% endblock title%}

{% block navbar%}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('main.user',username='bo',_external=True)}}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock navbar%}

{% block content%}
    <div class="container">
        {%block page_content%}{%endblock%}

        <div class="col-md-8">
        {%with messages=get_flashed_messages(with_categories=true)%}
            {%if messages%}
                {% for category,message in messages%}
                    <div class="alert-{{category}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}
        </div>
    </div>

{% endblock content%}

